
.formouter{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(109, 169, 222); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.formouter .formcontainer{
    background-color:var(--companycolor);
    width:500px;
    border-radius: 0px 60px 0px 60px;
    margin: 0 10px;
}

.formouter .formcontainer .formheader{
    margin: 30px 40px 30px 40px;
}

.formheader h3{
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
    color: white;
}

.formouter .formcontainer .formbody{
    background-color: white;
    margin: 0 40px;
    padding: 10px;
    border-radius: 0 20px 0 20px;
}

.form-label{
    font-weight: 600;
}

.form-control{
   font-size: 16px; 
   font-weight: 500;
}

.form-control:focus{
    border:2px solid  var(--companycolor);
}

.formouter .formcontainer .formfooter{
    margin: 10px 40px;
}

.formfooter ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.formfooter ul li{
    list-style: none;
    background-color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
}

.twiter a i{
    color: black;
}

.instagram a i{
    color: #f567b8;
}

/* spinner loader css*/

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.834)
        url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
        no-repeat;
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: var(--companycolor) transparent var(--companycolor) transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media (min-width: 376px) and (max-width: 425px) {
   .login-img img{
    height: 40px;
   }

   .form-btn{
   padding: 5px;
   font-size: 15px;
   }
  }

  @media (min-width: 315px) and (max-width: 375px) {
    .login-img img{
     height: 30px;
    }
 
    .form-btn{
    padding: 5px;
    font-size: 15px;
    }
    .formheader h3{
        font-size: 16px;
    }
   }
  